*{
    box-sizing: border-box;
}
header{
    height: 400px;
    float: left;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 7px black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin-top: 50px;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 35px 10px 10px 35px;
}
.leftside{
    height: 400px;
    float: left;
    width: 18%;
    margin: 1%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/hh1.jpg);
    box-shadow: 5px 10px 7px black;
    border-radius: 10px 35px 35px 10px;
}
.content{
    /* background-color: lightpink; */
    height: 400px;
    float: left;
    width: 78%;
    margin: 1%;
    /* border: 5px solid white; */
   /*  overflow-y: scroll; */
   color: white;
   background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/hh4.jpg);
   box-shadow: 5px 10px 7px black;
   text-align: left;
   padding: 40px;
}
footer{
    background-color:white;
    height: 50px;
    /* float: left; */
    width: 75%;
    border: 1px solid black;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    font-size: 25px;
    align-self: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
    padding-left: 30%;
    
}
ul{ padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
.leftside ul{
    padding: 0;
    list-style: none;
}
.leftside>ul>li{
    font-size: 25px;
   
}
.leftside ul li a{
    color: white;
}
.leftside>ul>li>a:hover{
    font-size: 30px;
    color: blue;

}
nav{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    height: 50px;
    line-height: 50px;
    background-color:  white;
    /* align-items: center; */
    
}
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;  
    margin-right: 10px;
    font-size: 25px;
}

nav ul li a:hover{
    font-size: 40px;
    color: green;
}
nav ul li ul li a:hover{
    background-color: rgba(255, 255, 255 ,0);
    font-size: 60px;
    color: red;
}
nav li:hover>.subnav{
    /* next test is to show element */
    display: block;
}
.subnav{
    list-style-type: none;
    padding: 0;
    background-color: antiquewhite;
    /* the next style is to hide element */
    display: none;
}
.subnav li a{
    color: rgb(223, 223, 223);
}
/* nav *{
    display: inline;} */

    /* Making our Layout Responsive */
@media(max-width: 700px){
.leftside, .content{
    width: 100%;
    height: auto;
}}